@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <p> Test Project. Knowledge Management</p>
    <h3>Created by Pavlov A.</h3>
    <h5>user: admin  </h5>
    <h5>password: 111111</h5>
</div>